.blockquote__wrapper {
   &.home__content--wrapper {
     @include flex-item;
   }
}

// Home page content section
.home__content {

  &--text {
    color: $color-secondary;
  }

  &--quote {
    font-size: $lead-font-size;
    font-style: italic;

    blockquote {
      margin: 0;
    }

    cite {
      font-size: $base-font-size;
      font-style: normal;
      color: $color-secondary;
      font-weight: bold;
    }
  }

  @media screen and (min-width: $small-screen) {

    &--text {
      @include span-columns(4);
    }

    &--quote {
      @include span-columns(7);
      @include shift(1 of 12);
    }
  }

}

hr {
  display: none;
}