// sass-lint:disable-all
// Buttons variables

$button-stroke: inset 0 0 0 2px;
$drop-shadow: -2px 2px 0 0;
$outline: -1px 1px 6px 3px $color-primary-alt-lightest;

// Buttons

// This mixin is only needed until we fully remove the
// deprecated usa-button-disabled style.
@mixin disabledesque {
  background-color: $color-gray-lighter;
  pointer-events: none;
  color: lighten($navy, 10%);
  text-shadow: 1px 1px 0 $white;

  &:hover,
  &.usa-button-hover,
  &:active,
  &.usa-button-active,
  &:focus,
  &.usa-focus {
    background-color: $color-gray-lighter;
    border: 0;
    box-shadow: none;
  }
}

// stylelint-disable selector-no-qualifying-type
.usa-button,
.usa-button-primary,
.usa-button:visited,
.usa-button-primary:visited,
button,
[type=button],
[type=submit],
[type=reset],
[type=image] {
  @include font-smoothing;
  @include margin(0.5em 0.5em 0.5em null);
  appearance: none;
  background-color: $color-primary;
  border: 0;
  border-radius: $button-border-radius;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans;
  font-size: $base-font-size;
  font-weight: $font-bold;
  line-height: 1;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: auto;
  box-shadow: $drop-shadow $color-primary-darkest;

  &:hover,
  &.usa-button-hover {
    background-color: $color-primary-darkest;
    border-bottom: 0;
    color: $color-white;
    text-decoration: none;

  }

  &:active,
  &.usa-button-active {
    background-color: $color-primary-darkest;
  }

  &:focus,
  &.usa-focus {
    outline: none;
    box-shadow: $drop-shadow $color-primary-darkest, $outline;
  }

  &.usa-button-primary-alt {
    background-color: $color-primary-alt;
    color: $color-base;

    &:hover,
    &.usa-button-hover {
      background-color: $color-primary-alt-dark;
    }

    &:active,
    &.usa-button-active {
      background-color: $color-primary-alt-darkest;
      color: $color-white;
    }
  }

  &.usa-button-secondary {
    background-color: $color-white;
    box-shadow: $drop-shadow $color-primary;
    border: 2px solid $color-primary;
    color: $color-primary;

    &:hover,
    &.usa-button-hover {
      box-shadow: $drop-shadow $color-primary-darkest;
      color: $color-primary-darkest;
      background-color: $color-primary-extralight;
    }

    &:focus,
    &.usa-focus {
      box-shadow: $drop-shadow $color-primary-darkest, $outline;
      color: $color-primary-darkest;
      outline: none;

    }

    &:active,
    &.usa-button-active {
      color: $white;
      background-color: $color-primary-darkest;
      border-color: $color-primary-darkest;
      box-shadow: none;

      > a {
        color: $white;
      }
    }

    > a {
      color: $color-primary;

      &:hover {
        color: $color-primary-darkest;
      }
    }
  }

  &.usa-button-secondary-inverse,
  &.usa-button-outline-inverse {    // Outline inverse to be deprecated in 2.0
    background: transparent;
    box-shadow: $button-stroke $color-white;
    color: $color-white;

    &:hover,
    &.usa-button-hover {
      box-shadow: $button-stroke $color-gray-lighter;
      color: $color-gray-lighter;
    }

    &:active,
    &.usa-button-active {
      box-shadow: $button-stroke $color-gray-light;
      color: $color-gray-lighter;
    }
  }

  &.usa-button-gray {
    background-color: $color-gray;

    &:hover,
    &.usa-button-hover {
      background-color: $color-gray-dark;
    }

    &:active,
    &.usa-button-active {
      background-color: $color-base;
    }
  }

  &.usa-button-navy {
    background-color: $navy;
    box-shadow: $drop-shadow $navy;
    border: 2px solid $navy;
    color: $color-primary;

    a,
    a:visited {
      color: $white;
    }

    &:hover,
    &.usa-button-hover {
      background-color: darken($navy, 5%);
      box-shadow: $drop-shadow darken($navy, 5%);
      border: 2px solid darken($navy, 5%);
      color: darken($navy, 5%);

      a,
      a:visited {
        color: $white;
      }
    }

    &:active,
    &.usa-button-active {
      background-color: darken($navy, 10%);

      a,
      a:visited {
        color: $white;
      }
    }
  }

  &.usa-button-red {
    background-color: $color-secondary;

    &:hover,
    &.usa-button-hover {
      background-color: $color-secondary-darkest;
    }

    &:active,
    &.usa-button-active {
      background-color: $color-secondary-darkest;
    }
  }

  &.usa-button-big {
    border-radius: 8px;
    font-size: 2.4rem;
    padding: 1.5rem 3rem;
  }

  &:disabled {
    @include disabledesque;
  }

  > a {
    text-decoration: none;
    color: $white;
  }
}
/* stylelint-disable */

.usa-button-disabled  // Deprecated
{
  @include disabledesque;
}

.usa-button-secondary-disabled,          // Deprecated
.usa-button-secondary-inverse-disabled,  // Deprecated
.usa-button-secondary:disabled,
.usa-button-secondary-inverse:disabled,
.usa-button-outline-inverse:disabled {   // Outline inverse to be deprecated in 2.0
  box-shadow: $button-stroke $color-gray-lighter;
  pointer-events: none;
  color: $color-gray-lighter;

  &:hover,
  &.usa-button-hover,
  &:active,
  &.usa-button-active,
  &:focus,
  &.usa-focus {
    background-color: $color-white;
    border: 0;
  }
}

html .usa-button-secondary-disabled,          // Deprecated
.usa-button-secondary:disabled {
  background-color: $color-white;
}

html .usa-button-secondary-inverse-disabled,  // Deprecated
.usa-button-secondary-inverse:disabled {
  background-color: transparent;
  color: $color-gray;
  box-shadow: $button-stroke $color-gray;
}

@mixin button-unstyled {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-weight: $font-normal;
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: auto;

  &:hover {
    background-color: transparent;
  }
}

.usa-button-unstyled {
  @include button-unstyled;
}
