//-- FLEXBOX
//---------------------------------------------
@mixin flex-container(
  $justify-content: flex-start,
  $align-content: space-between,
  $flex-wrap: nowrap) {
  display: flex;
  flex-direction: row;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-content: $align-content;
}

//  Flex item
@mixin flex-item($flex: 0 1 auto) {
  // Define this value by default to avoid IE10 bug
  flex: $flex;
  align-self: auto;
}

// Containers
@mixin text-container {
  max-width: $text-max-width;
  margin: 0 auto;
  padding: 0 20px;

  p {
    blockquote {
      margin-top: $section-margin;

      cite {
        margin-top: 1rem;
      }
    }
  }

  h3 {
    color: $color-secondary;
    margin-top: $section-margin;
  }

  h4 {
    margin-bottom: 0;
  }

  p { margin-top: 0; }
  a { font-weight: bold; }
}

@mixin top-border-large($color: $navy) {
  border-top: 10px solid $color;
}

@mixin visually-hidden-text {
  // sass-lint:disable no-duplicate-properties
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin outline {
  box-shadow: -1px 1px 6px 3px $color-primary-alt-lightest;
}

