figure {
  @include flex-container;
  padding: $section-margin 0;
  margin: 50px $gutter;
  background-color: $neutral;
  box-shadow: 80px 0 $neutral, -80px 0 $neutral;

  div {
    @include flex-item;
    padding: 1rem;
    text-align: center;
  }

  header {
    font-size: $title-font-size;
    font-weight: bold;
    color: $teal;
    font-family: $font-serif;
  }

  p {
    font-weight: bold;
  }
}

.case-study-text {
  border-bottom: 1px solid $navy;
  margin-bottom: 30px;
}
