h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: 1px dotted $neutral;
    box-shadow: none;

    main & {
      @include outline;

      outline: none;
    }
  }
}

abbr[title] {
  text-decoration: none;
  border-bottom: 0;
}

// Typography
.text-container {
  @include text-container;
}

.wide-container {
  @extend .text-container;

  max-width: $site-max-width;
}

.text-container--careers {
  @extend .text-container;

  // 1. Overwrite max-width so that we can have a full-width content
  max-width: none;

  // 2. Set restriction for all tags, so as to have a mostly narrow column
  * {
    max-width: $text-max-width;
    margin-right: auto;
    margin-left: auto;
  }
  // 3. except for these:
  > div,
  div > iframe {
    max-width: none;
    margin: 0;
    padding: 0;
  }

  // Wrapper fix for iframe height.
  // https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
  > div {
    position: relative;
    height: 0;
    padding-top: 25px;
    padding-bottom: 56.25%; /* 16:9 */
    > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.visually-hidden {
  @include visually-hidden-text;
}

// Lists
ul {
  list-style-type: disc;
}
