.columns {
  @media all and (min-width: 600px) {
    display: flex;
    flex-direction: row;
    > div {
      flex-basis: 0;
      flex-grow: 1;
      padding: 0 15px;
    }
    > div:first-child {
      padding-left: 0;
    }
    > div:last-child {
      padding-right: 0;
    }
  }
}
