.icon {
  &paragraphs__group {
    display: grid;
    @media screen and (max-width: $small-screen) {
      grid-template-columns: repeat(1, 1fr);
    }
    grid-template-columns: repeat(3, 1fr);
  }
  &paragraph__wrapper {
    text-align: center;
    padding: 0 $section-margin;
  }
  &paragraph__heading{
    font-family: $font-sans;
    font-weight: 900;
    margin-bottom: 0;
  }
  &paragraph__text {
    margin-top: 0;
  }
}