.icon {
  &paragraphs__group {
    display: flex;
    flex: 1;
    flex-wrap: wrap;

    .iconparagraph__wrapper {
      width: 100%;
      @media screen and (min-width: $small-screen) {
        width: 50%;
      }
      @media screen and (min-width: $medium-large-screen) {
        width: 33%;
      }
    }
  }
  &paragraph__wrapper {
    text-align: center;
    padding: 0 $section-margin;
  }
  &paragraph__heading{
    font-family: $font-sans;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 0;
  }
  &paragraph__text {
    margin-top: 0;
    padding-bottom: 40px;
  }
  &paragraph__icon {
    padding-bottom: 10px;
  }
}
