.section__image-slider {
  .slick-list {

    // We actually want all the previous and next slides to show,
    // So override this 'react-slick' slick-list overflow property.
    overflow: visible;

    @include media($small-screen) {
      //overflow: visible;
    }

    @media all and (max-width: 480px) {
      padding: 0 !important;
    }
  }

  .slick-slide {
    padding: 0;

    @include media($small-screen) {
      padding: 0 20px;
    }
  }

  .slick-dots,
  .slide__arrows {
    position: absolute;
    bottom: 6px;

    @include media($medium-screen) {
      bottom: -12px;
    }
  }

  .slick-dots {
    display: none !important;


    @include media($medium-screen) {
      right: 145px;
      display: block !important;

    }
  }

  .slide-images {
    position: relative;
  }
}

// Custom pagination styling.
.slide__custom-dots {
  display: none;
  position: absolute;
  top: -8px;
  left: -25px;

  .slick-active & {
    display: block;
    font-weight: bold;
  }
}

// Only display the current slide in small width browsers
.slide__item {
  @media all and (max-width: 480px) {
    width: 100vw;
    display: none;
  }

  .slick-current & {
    @media all and (max-width: 480px) {
      display: block;
    }
  }
}

// Slides
.slide {
  &__caption {

    @include media($medium-screen){
      width: 90%;
    }

    @include media($small-screen) {
      width: 80%
    }

    width: 70%;
    font-size: $small-font-size;
    font-style: italic;
    margin-top: 25px;
  }

  &__arrows {
    right: 0;

    @include media($small-screen) {
      right: 70px;
    }

    > div {
      background: no-repeat center $color-primary;
      padding: 15px;
      background-size: 17px;
      display: inline-block;

      &.slide__previous {
        background-size: 10px;
        margin-right: 2px;
      }
    }
  }


}
