a.external-link {
  display: inline-block;
  &:after {
    margin-left: 5px;
    content: url('./../files/icons/external-link-hover.svg');
  }
  &:hover {
    &:after {
      content: url('./../files/icons/external-link-hover.svg');
    }
  }
  &:active {
    &:after {
      content: url('./../files/icons/external-link-pressed.svg');
    }
  }
}

.usa-nav-primary {
  a.external-link {
    &:hover {
      color: $color-primary;
    }
  }
}

.usa-button-navy, .usa-button {
  a.external-link {
    &:after {
      margin-left: 5px;
      content: url('./../files/icons/external-link.svg');
    }
  }
}

.footer, .usa-nav {
  a.external-link {
    display: inline-block;
    &:after {
      margin-left: 5px;
      content: url('./../files/icons/external-link.svg');
    }
    &:hover {
      &:after {
        content: url('./../files/icons/external-link-hover.svg');
      }
    }
    &:active {
      &:after {
        content: url('./../files/icons/external-link-pressed.svg');
      }
    }
  }
}