.usa-nav {
  .mobile-nav--logo {
    display: none;
    width: 100%;
    margin-top: -14px;
    border-top: 5px solid $coral;
    .logo__image {
      width: 108px;
    }
    .mobile-nav--logo-container,
    .mobile-nav--close--container {
      width: 50%;
      padding-top: $spacing-medium;
    }
    .mobile-nav--close--container {
      float: right;
    }

    @media screen and (max-width: $nav-width) {
      display: block;
    }
  }

  .usa-nav-primary {
    .menu-item {
      position: relative;
      padding-top: calc(1.5rem + 10px);
      border-top: none;
      &:hover {
        // @include top-border-large($teal);
        // margin-top: -1rem;
      }

      &.usa-current {
        padding-left: 0;
        > button span {
          padding-bottom: 0;
          border-bottom: 0 none;
        }
        ul {
          a {
            font-weight: $font-bold;
          }
          span {
            color: $white;
          }
        }
        @media screen and (min-width: $nav-width) {
          &::before {
            position: absolute;
            top: 0;
            width: 100%;
            height: 10px;
            content: "";
            background: $navy;
          }
        }
      }

      button > span,
      > a {
        color: $white;
        font-family: $font-serif;
        font-size: $base-font-size;
      }

      button {
        box-shadow: none;

        span {
          display: inline-block;
        }

        &[aria-expanded="false"] {
          background: url("./../files/icons/arrow-down.svg");
          background-repeat: no-repeat;
          background-position: right 1.5rem top 40%;
          background-size: 1rem;
        }

        &[aria-expanded="true"] {
          background: transparent;
          background: url("./../files/icons/arrow-down.svg");
          background-repeat: no-repeat;
          background-position: right 1.5rem top 40%;
          background-size: 1rem;

          span {
            border-bottom: none;
          }
        }

        &:hover {
          span {
            border-bottom: none;
          }
        }
      }

      .external-link {
        @media screen and (max-width: $medium-screen) {
          text-decoration: underline;
        }
      }
    }
  }
  .usa-nav-submenu {
    padding: 0;
    background: $color-primary;
    a {
      padding-top: $spacing-md-small;
      padding-bottom: $spacing-md-small;
      text-decoration: underline;
      font-family: $font-sans;
      font-size: $small-font-size;
      &:hover {
        background: $navy;
      }
      &.usa-current {
        color: $white;
        background: $color-primary-darkest;
        font-weight: $font-normal;
        @include media($nav-width) {
          padding-left: 1.5rem;
        }
      }
      &.external-link {
        display: block;
      }
    }

    @include media($nav-width) {
      margin-left: $spacing-md-small;
    }
  }

  @include media($nav-width) {
    padding-top: $spacing-md-small;
    background: transparent;
  }

  @media screen and (max-width: $nav-width) {
    width: 100%;
    padding: $spacing-md-small;
    border-left: none;
    background: $teal;
    button.usa-nav-close {
      width: 62px;
      margin: -5.3rem -0.5rem 1.5rem auto;
      color: $white;
      box-shadow: none;
      font-weight: $font-bold;
    }
    button.usa-nav-link {
      font-weight: $font-bold;
    }
    .usa-nav-primary {
      margin-top: 0;
    }
  }

  @media screen and (min-width: $nav-width) {
    margin-top: -10px;
    padding-top: 0;
  }
}

.usa-menu-btn {
  margin-top: -4.25rem;
  padding-right: 9rem;
  text-transform: none;
  background: transparent;
  background: url("./../files/icons/hamburger-menu.svg");
  background-repeat: no-repeat;
  background-position: right 1.5rem top 40%;
  background-size: 2.5rem;
  box-shadow: none;
  font-size: $base-font-size;
  font-weight: $font-bold;
}
.usa-navbar {
  border-bottom: none;
}
.usa-nav-container {
  @include top-border-large($coral);
}

.usa-nav-link {
  font-weight: $font-bold;
  &:hover {
    span {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}
