.press {
  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 50px;
  }

  &__meta {
    font-size: $small-font-size;
    font-weight: bold;
  }

  &__publication {
    display: inline-block;
    margin-right: 5px;

    &::after {
      content: ":";
    }
  }

  &__link {
    font-weight: bold;
    a {
      display: inline;
    }
  }
}

h3.press__title {
  margin-top: 0;

  a {
    text-decoration: none;
    color: $color-secondary;

    &:hover {
      text-decoration: underline;
    }
  }
}

.prev-next-links {
  clear: both;
  margin-top: 40px;
  .previous {
    float: left;
  }
  .next {
    float: right;
  }
}
