.related-content__list {
  display: block;

  @media all and (min-width: 600px) {
    display: flex;
    flex-direction: row;

    > a {
      padding: 0 15px;
      flex-grow: 1;
      flex-basis: 0;
    }
    > a:first-child {
      padding-left: 0;
    }
    > a:last-child {
      padding-right: 0;
    }
  }
}
