.related-content__list {
  display: block;

  @media all and (min-width: 600px) {
    display: flex;
    flex-direction: row;

    img {
      max-width: 300px;
    }

    > a {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 33%;
      padding: 0 15px;
    }
    > a:first-child {
      padding-left: 0;
    }
    > a:last-child {
      padding-right: 0;
    }
  }
}
