.rollovericon {
  &__rollover_text {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $navy;
    font-family: $font-sans;
    font-size: $h6-font-size;
    font-weight: $font-bold;
    line-height: 1.1;
  }

  &__wrapper {
    display: inline-block;
    width: 67px;
    height: 67px;
    margin: 15px;
    vertical-align: top;
    &:hover {
      .rollovericon__icon {
        display: none;
      }
      .rollovericon__rollover_text {
        display: flex;
      }
    }
  }

  &__group {
    a {
      &.external-link {
        &::after {
          display: inline-block;
          width: 10px;
          height: 15px;
          content: "";
        }
      }
    }
  }
}

.icon_foia {
  .rollovericon__rollover_text {
    padding-top: 1.5rem;
  }
}
