.subfooter-cta {
  @include top-border-large;

  padding: $section-margin 0;

  &__link {
    padding-right: 25px;
    text-decoration: none;
    background: no-repeat right 15px;
    background-size: 15px;
    font-size: $h3-font-size;
    font-weight: bold;

    @include media($medium-screen) {
      padding-right: 40px;
      background: no-repeat right 19px;
      background-size: 25px;
      font-size: $h2-font-size;
    }
  }
}

.section__subfooter {
  color: $white;

  a {
    color: $white;
  }

  a:hover {
    text-decoration: underline;
  }

  &--wrapper {
    background-color: $color-primary;

    &.hidden {
      display: none;
    }
  }
}

.subfooter {
  &__col {
    @include span-columns(6);
  }
}
