.subfooter-cta {
  @include top-border-large;
  padding: $section-margin 0;

  &__link {
    font-size: $h3-font-size;
    text-decoration: none;
    font-weight: bold;
    background: no-repeat right 15px;
    background-size: 15px;
    padding-right: 25px;

    @include media($medium-screen) {
      font-size: $h2-font-size;
      padding-right: 40px;
      background: no-repeat right 19px;
      background-size: 25px;
    }
  }

}

.section__subfooter {
  color: $white;

  a {
    color: $white;
  }

  &--wrapper {
    background-color: $color-primary;
  }
}

.subfooter {
  &__col {
    @include span-columns(6);
  }
}
