$outline: -1px 1px 6px 3px $color-primary-alt-lightest;

.tags {
  color: $color-secondary;
  border: 2px solid $color-secondary;
  padding: 7px $line-height;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold;
  font-size: $small-font-size;

  // unset button styles
  background-color: $white;
  box-shadow: none;

  &:hover {
    background-color: transparent;
    color: $color-secondary-dark;
    border: 2px solid $color-secondary-dark;
  }

  &:focus {
    box-shadow: $outline;
    color: $white;
    background-color: $color-secondary;
  }

  &.active {
    background-color: $color-secondary;
  }

  &:first-of-type {
    margin-left: 0
  }
}

.section__case-studies {
  font-size: $h4-font-size;
}