.teaser-grid {
  &--wrapper {
    &:focus {
      @include outline;
      outline: none;
    }

    &:last-of-type {
      margin-right: 0;
    }

    .teaser-grid {
    }

  }
}


.teaser-grid__text {
  color: $navy;
  text-decoration: none;
  padding: 30px 0 10px;
}

.teaser-grid__name {
  font-weight: bold;
}

.teaser-grid__title {
  font-size: $small-font-size;
}

@media all and (max-width: $small-screen) {
  .teaser-grid__text, .teaser-grid__image {
    @include span-columns(6);
  }
}
