.teaser--case-study {
  color: $navy;

 &--wrapper {
   display: block;
   text-decoration: none;

   &:focus {
     @include outline;
     outline: none;
   }

   &:last-of-type {
     margin-right: 0;
   }
 }

  &__text {
    color: $navy;
    text-decoration: none;
    padding: 40px 20px;
  }

  &__client {
    font-size: $small-font-size;
    font-weight: bold;
    display: block;
  }

  &__title {
    color: $teal;
    &:hover {
      text-decoration: underline;
    }
  }
}
