.teaser {
  &--wrapper {
    padding-left: 0;
  }

  &__item {
    list-style: none;
    padding: 2.5rem 0;
    border-bottom: 1px solid;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__date {
    font-size: $small-font-size;
    font-weight: bold;
  }

  &__title {
    font-size: $h4-font-size;
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  &__link {
    font-weight: bold;
  }

  &__image--wrapper {
    max-height: 180px;
    overflow: hidden;
    margin-bottom: 2rem;
  }

  &.teaser__halves {
    margin-bottom: 2rem;

    @media screen and (min-width: $small-screen) {
      @include span-columns(6);
    }
  }
}
