// Section goverment services on homepage. Teaser overrides.
.columns--teaser {
  @media all and (min-width: 600px) {
    > .teaser {
      > h3,
      > p,
      > div:not(.teaser__image--wrapper) {
        padding: 0 20px;
      }
      > h3 {
        margin-bottom: 5px;
      }
      > p {
        margin: 0;
        margin-bottom: 5px;
      }
    }
  }
}
