.teaser--case-study {
  color: $navy;

 &--wrapper {
   @include flex-item;
   display: block;
   text-decoration: none;
   margin: 2% 4% 2% 0;

   &:last-of-type {
     margin-right: 0;
   }

   @include media($small-screen) {
     width: 50%;
   }

   @include media($medium-screen) {
     width: 30%;
   }
 }

  &__text {
    color: $navy;
    text-decoration: none;
    padding: 40px 20px;
  }

  &__client {
    font-size: $small-font-size;
    font-weight: bold;
  }
}