.teaser {
  &--wrapper {
    padding-left: 0;
  }

  &__item {
    list-style: none;
    padding: 2.5rem 0;
    border-bottom: 1px solid;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__date {
    font-size: $small-font-size;
    font-weight: bold;
  }

  &__title {
    font-size: $h4-font-size;
  }

  &__link {
    font-weight: bold;
  }
}