.teaser--case-study {
  color: $navy;

  &--wrapper {
    display: block;
    text-decoration: none;

    &:focus {
      @include outline;

      outline: none;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__text {
    padding: 40px 20px;
    text-decoration: none;
    color: $navy;
  }

  &__client {
    display: block;
    font-size: $small-font-size;
    font-weight: bold;
  }

  &__title {
    color: $teal;
    &:hover {
      text-decoration: underline;
    }
  }
}
