.study {
  h3 {
    font-size: $h5-font-size;
  }

  &--col {
    margin-bottom: $lead-font-size;
  }

  &__project {
    @include media($medium-screen) {
      @include span-columns(2);
    }
  }

  &__tech-specs {
    @include media($medium-screen) {
      @include span-columns(8);
      @include shift(2);

      ul {
        column-count: 2;
        column-gap: 4rem;
      }
    }
  }

  &__project__title {
    font-size: $lead-font-size;
  }
  &__project__partner {
    margin-top: $cite-margin;
    font-size: $lead-font-size;
  }

  blockquote {

    p {
      margin-bottom: 0;
    }

    cite {
      margin-top: 0;
    }
  }

  .new-blockquote > blockquote {

    cite {
      margin-top: 1rem;
    }
  }

  figure {
    padding: 0;
    margin: 0;

    header {
      font-size: $h2-font-size;
    }

    p {
      font-size: $small-font-size;
    }
  }
}

.grid-section {
  margin-top: $section-margin
}  

.study-hero {
  margin-bottom: 3rem;

  .slide__caption {
    width: 100%;
  }
}

.case-study-text {
  blockquote {
    margin-top: $section-margin;
    cite {
      margin-top: $cite-margin;
    }
  }
}

.outcomes-section > .section {
  margin-bottom: 0px;
}
