.study {
  h3 {
    font-size: $h5-font-size;
  }

  &--col {
    margin-bottom: $lead-font-size;
  }

  &__project {
    @include media($medium-screen) {
      @include span-columns(2);
    }
  }

  &__tech-specs {
    @include media($medium-screen) {
      @include span-columns(8);
      @include shift(2);

      ul {
        column-count: 2;
        column-gap: 4rem;
      }
    }
  }

  &__project__title {
    font-size: $lead-font-size;
  }
  &__project__partner {
    margin-top: $cite-margin;
    font-size: $lead-font-size;
  }

  blockquote {
    p {
      margin-bottom: 0;
    }

    cite {
      margin-top: 0;
    }
  }
}

.case-study-text {
  blockquote {
    margin-top: $section-margin;
    cite {
      margin-top: $cite-margin;
    }
  }
}
