.community {
  &__wrapper {
    position: relative;

    @media  all and (max-width: 600px){
      padding-top: 80px;
    }
  }

  &__logo {
    position: absolute;

    @media  all and (max-width: $medium-screen){
      top: -97px;
    }

    @include media($medium-screen) {
      top: -83px;
      left: -50px;

      &.dsc {
        left: auto;
        right: -50px;
      }
    }
  }
}
