.section {
  margin-bottom: rem(100px);

  &__title {
    text-transform: capitalize;
    color: $color-secondary;

    // Red border above section title
    &::before {
      display: block;
      width: 100px;
      height: 10px;
      content: "";
      background-color: $color-secondary;
    }
  }

  &__subtitle {
    padding-bottom: $section-subtitle-bottom-margin;
    font-size: $lead-font-size;
  }

  //-------------------------------------
  // CIVICACTIONS INTRO SECTION IN THE HOMEPAGE
  //-------------------------------------------

  &__home-intro {
    margin-top: rem(100px);
    margin-bottom: rem(100px);
    &--quote {
      color: $color-secondary;
    }

    &--text {
      font-size: $lead-font-size;

      p {
        margin-top: 0;
      }
    }

    @media screen and (min-width: $small-screen) {
      &--quote {
        @include span-columns(4);
      }

      &--text {
        @include span-columns(7);
        @include shift(1 of 12);
      }
    }
  }

  //-------------------------------------
  // RECENT POSTS SECTION IN THE HOMEPAGE
  //-------------------------------------

  &__recent-posts {
    &.right-flipped {
      @include neutral-hex-bg;

      margin-bottom: 0;

      @media all and (min-width: $medium-screen) {
        .section__title--wrapper {
          @include shift(8);
        }

        .teaser--wrapper {
          @include shift(-12);
        }
      }
    }

    @media all and (min-width: $medium-screen) {
      .section__title--wrapper {
        @include span-columns(4);
      }

      .teaser--wrapper {
        @include span-columns(7);
        @include shift(1);
      }
    }
  }

  //-------------------------------------
  // RECENT POSTS SECTION ON THE CAREERS PAGE
  //-------------------------------------------

  &__recent-posts-careers {
    @media all and (min-width: $medium-screen) {
      .teaser--wrapper {
        overflow: hidden;
        padding-top: 3.4rem;
      }
    }
  }

  //-------------------------------------
  // TECH SPECS SECTION IN CASE STUDIES
  //-------------------------------------

  &__specs {
    padding: $section-margin 0;
    background-color: $neutral;
  }

  //---- CASE STUDY LANDING PAGE
  &__case-studies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .teaser--case-study--wrapper {
      flex: 1;

      @include media($small-screen) {
        min-width: 100%;
        max-width: 100%;

        @include media($medium-screen) {
          min-width: 30%;
          max-width: 30%;
        }
      }
    }
  }

  //-------------------------------------
  // FEATURED CLIENTS SECTION ON CASE STUDIES PAGE
  //-------------------------------------------
  &__featured_clients {
    @media all and (min-width: $medium-screen) {
      &--intro_wrapper {
        @include span-columns(4);
      }
      &--intro-text {
        font-size: $lead-font-size;
      }
      .rollovericon__group {
        @include span-columns(7);
        @include shift(1 of 12);
      }
    }
  }

  //-------------------------------------
  // BENEFITS INTRO SECTION ON THE CAREERS PAGE
  //-------------------------------------------
  &__benefits {
    &--intro-text {
      max-width: $text-max-width;
      margin-bottom: $section-margin;
      font-size: $lead-font-size;

      p {
        margin-top: 0;
      }
    }
  }

  //-------------------------------------
  // FEATURES INTRO SECTION ON THE DKAN OPEN DATA PAGE
  //-------------------------------------------
  &__features {
    &--intro-text {
      max-width: $text-max-width;
      margin-bottom: $section-margin;
      font-size: $lead-font-size;

      p {
        margin-top: 0;
      }
    }
  }

  //------------------------------------------------------------
  // FILTERS ON CASE STUDY LANDING PAGE
  //------------------------------------------------------------
  &__tag-filters {
    margin-top: -($section-margin * 2);
    margin-bottom: rem(40px);
    padding: rem(36px) 3rem;
  }

  &__tag-filters__wrapper {
    background: $neutral;
    h4 {
      font-size: $base-font-size;
    }
  }

  //------------------------------------------------------------
  // RELATED CASE STUDIES SECTION
  //------------------------------------------------------------
  &__related-content {
    position: relative;
    margin-top: $section-margin;
    margin-bottom: 0;
    padding-bottom: $section-margin;
    background-color: $neutral;
  }

  &__related-content--no-bg {
    margin-top: rem(100px);
    .section__title {
      margin-bottom: 0;
    }
  }

  //------------------------------------------------------------
  // Communities.
  //------------------------------------------------------------
  &__communities {
    h3:before {
      display: block;
      float: left;
      width: 80px;
      height: 80px;
      content: " ";
      vertical-align: top;
      background-repeat: no-repeat;
      background-position: 0 10px;
      background-size: 50px 50px;
    }

    h3.with-agl-logo::before {
      background-image: url("./../content/general-images/agl-2x.png");
    }

    h3.with-dkan-logo::before {
      background-image: url("./../content/general-images/dkan2x.png");
    }

    h3.with-digital-services-coalition-logo:before {
      background-image: url("./../content/general-images/digital-services-coalition.png");
    }
    
    h3.with-drupal-logo:before {
      background-image: url("./../content/general-images/drupal-logo.png");
    }
     
    h3.with-data-coalition-logo:before {
      background-image: url("./../content/general-images/data-coalition-logo.png");
    }
    // Balance out the offset, generated by the logo block.
    .text-container > *:not(h3) {
      margin-left: 80px;
    }
  }

  //------------------------------------------------------------
  // CONTACT FORM THANK YOU PAGE
  //------------------------------------------------------------
  &__thankyou {
    text-align: center;
  }

  &__contact-options {
    margin-bottom: 0;
  }
}

.top-space {
  margin-top: 2rem;
}

.neutral {
  padding-bottom: $section-margin;
  background-color: $neutral;
}

//------------------------------------------------------------
// GENERIC TEASER GRID
//------------------------------------------------------------
.section__teaser-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  .teaser-grid--wrapper {
    width: 100%;

    @media screen and (min-width: $small-screen) and (max-width: $medium-screen) {
      width: 33%;
    }

    @media screen and (min-width: $medium-screen) and (max-width: $medium-large-screen) {
      width: 20%;
    }

    @media screen and (min-width: $medium-large-screen) {
      width: 15%;
    }

    .teaser-grid {
      margin: 0 0.8%;
    }
  }
}

//------------------------------------------------------------
// Image borders
//------------------------------------------------------------

// Add border arond images in the following sections:
.section {
  &__image-slider,
  &__triple-quotes,
  &__government-services,
  &__case-studies,
  &__teaser-grid {
    img:not(.blockquote__icon) {
      border: 1px solid $light-gray;
    }
  }

  //------------------------------------------------------------
  // Iframe border
  //------------------------------------------------------------

  // Remove default border, set by chrome user agent.
  iframe {
    border: 0;
  }

  //------------------------------------------------------------
  // Containers with neutral background image
  //------------------------------------------------------------

  // Sections with neutral bg that need bottom margin 0
  &_features {
    margin-bottom: 0;
  }

  &_dkan_cta {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }

  // Sections with netural bg that need bottom padding
  @include media(760px) {
    &__approach,
    &__careers,
    &__contact,
    &__values {
      padding-bottom: $section-margin;
    }
  }
}

// Styling for sections with neutral hex background
.neutral-hex-bg {
  position: relative;

  .section__title--wrapper {
    position: absolute;
    top: -4rem;
  }

  &.section__recent-posts-careers .section__title--wrapper {
    position: relative;
    top: 0;
    margin-top: -2.4em;
  }

  .related-content__list,
  .teaser,
  .section__benefits--intro-text,
  .section__features--intro-text {
    padding-top: $site-margins * 2;
  }

  @media all and (max-width: $small-screen) {
    // Avoid text overlapping over the image on mobile.
    &.section__government-services .section__title--wrapper {
      position: static !important;
      top: 0;
    }
  }

  @media all and (max-width: $small-screen) {
    .section__recent-posts-careers {
      .section__title--wrapper {
        position: relative;
        top: 0;
      }
    }
    .teaser__contracting {
      padding-top: $site-margins * 6;
    }
    .section__benefits--intro-text {
      padding-top: $site-margins * 4;
    }
    .related-content__list {
      padding-top: $site-margins * 3;
    }
  }

  @include media($medium-screen) {
    .align-right {
      position: relative;
      a.link-button {
        position: relative;
        bottom: -6rem;
      }
    }
  }
}

@media all and (max-width: $small-screen) {
  .section__recent-posts-careers {
    .section__title--wrapper {
      position: relative;
      top: 0;
      h2 {
        position: absolute;
        top: -4rem;
      }
      .section__subtitle {
        padding-top: $site-margins * 2;
      }
    }
  }
  .section__triple-quotes-careers {
    .blockquotes__list {
      padding-top: $site-margins * 2;
    }
  }
}
