.section {
  margin-bottom: rem(100px);

  &__title {
    color: $color-secondary;
    text-transform: capitalize;

    // Red border above section title
    &::before {
      content: '';
      width: 100px;
      height: 10px;
      background-color: $color-secondary;
      display: block;
    }
  }

  &__subtitle {
    font-size: $lead-font-size;
    padding-bottom: $section-subtitle-bottom-margin;
  }

  //-------------------------------------
  // CIVICACTIONS INTRO SECTION IN THE HOMEPAGE
  //-------------------------------------------

  &__home-intro {
    margin-top: rem(100px);
    margin-bottom: rem(100px);
    &--quote {
      color: $color-secondary;
    }

    &--text {
      font-size: $lead-font-size;

      p {
        margin-top: 0;
      }
    }

    @media screen and (min-width: $small-screen) {

      &--quote {
        @include span-columns(4);
      }

      &--text {
        @include span-columns(7);
        @include shift(1 of 12);
      }
    }
  }

  //-------------------------------------
  // RECENT POSTS SECTION IN THE HOMEPAGE
  //-------------------------------------

  &__recent-posts {
    @media all and (min-width: $medium-screen) {

      .section__title--wrapper {
        @include span-columns(4);
      }

      .teaser--wrapper {
        @include span-columns(7);
        @include shift(1);
      }
    }


    &.right-flipped {
      @include neutral-hex-bg;
      margin-bottom: 0;

      @media all and (min-width: $medium-screen) {
        .section__title--wrapper {
          @include shift(8);
        }

        .teaser--wrapper {
          @include shift(-12);
        }
      }
    }
  }

  //-------------------------------------
  // RECENT POSTS SECTION ON THE CAREERS PAGE
  //-------------------------------------------

  &__recent-posts-careers {
    @media all and (min-width: $medium-screen) {
      .teaser--wrapper {
        @include shift(5);
        padding-top: 3.4rem;
        overflow:hidden;
      }
      .section__subtitle {
        @include span-columns(6);
      }
    }
  }

  //-------------------------------------
  // TECH SPECS SECTION IN CASE STUDIES
  //-------------------------------------

  &__specs {
    background-color: $neutral;
    padding: $section-margin 0;
  }

  //---- CASE STUDY LANDING PAGE
  &__case-studies {
    @include media($small-screen) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;

      @include media($medium-screen) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  //-------------------------------------
  // FEATURED CLIENTS SECTION ON CASE STUDIES PAGE
  //-------------------------------------------
  &__featured_clients {
    @media all and (min-width: $medium-screen) {
      &--intro_wrapper {
        @include span-columns(4);
      }
      &--intro-text {
        font-size: $lead-font-size;
      }
      .rollovericon__group {
        @include span-columns(7);
        @include shift(1 of 12);
      }
    }
  }

  //-------------------------------------
  // BENEFITS INTRO SECTION ON THE CAREERS PAGE
  //-------------------------------------------
  &__benefits {

    &--intro-text {
      font-size: $lead-font-size;
      max-width: $text-max-width;
      margin-bottom: $section-margin;

      p {
        margin-top: 0;
      }
    }
  }


  //-------------------------------------
  // FEATURES INTRO SECTION ON THE DKAN OPEN DATA PAGE
  //-------------------------------------------
  &__features {

    &--intro-text {
      font-size: $lead-font-size;
      max-width: $text-max-width;
      margin-bottom: $section-margin;

      p {
        margin-top: 0;
      }
    }
  }

  //------------------------------------------------------------
  // FILTERS ON CASE STUDY LANDING PAGE
  //------------------------------------------------------------
  &__tag-filters {
    margin-bottom: rem(40px);
    margin-top: -($section-margin * 2);
    padding: rem(36px) 3rem;
  }

  &__tag-filters__wrapper {
    background: $neutral;
    h4 {
      font-size: $base-font-size;
    }
  }

  //------------------------------------------------------------
  // RELATED CASE STUDIES SECTION ON THE CASE STUDY LANDING PAGE
  //------------------------------------------------------------
  &__related-content {
    background-color: $neutral;
    position: relative;
    margin-top: $section-margin;
    margin-bottom: 0;
    padding-bottom: $section-margin;
  }

  //------------------------------------------------------------
  // CONTACT FORM THANK YOU PAGE
  //------------------------------------------------------------
  &__thankyou {
    text-align: center;
  }

  &__contact-options {
    margin-bottom: 0;
  }
}

.neutral {
  background-color: $neutral;
  padding-bottom: $section-margin;
}

//------------------------------------------------------------
// GENERIC TEASER GRID
//------------------------------------------------------------
.section__teaser-grid {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 20px;

  @include media($medium-screen) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include media(760px) {
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: $section-margin;
  }
}

//------------------------------------------------------------
// Image borders
//------------------------------------------------------------

// Add border arond images in the following sections:
.section {
  &__image-slider,
  &__triple-quotes,
  &__government-services,
  &__case-studies,
  &__teaser-grid {
    img:not(.blockquote__icon) {
      border: 1px solid $light-gray;
    }
  }

  //------------------------------------------------------------
  // Containers with neutral background image
  //------------------------------------------------------------

  // Sections with neutral bg that need bottom margin 0
  &_features {
    margin-bottom: 0;
  }

  &_dkan_cta {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }

  // Sections with netural bg that need bottom padding
  @include media(760px) {
    &__approach, &__careers, &__contact, &__values {
      padding-bottom: $section-margin;
    }
  }
}

// Styling for sections with neutral hex background
.neutral-hex-bg {
  position: relative;

  .section__title--wrapper {
    position: absolute;
    top: -4rem;
  }

  .related-content__list, .teaser, .section__benefits--intro-text, .section__features--intro-text {
    padding-top: $site-margins * 2;
  }

  @media all and (max-width: $small-screen) {
    .section__recent-posts-careers {
      .section__title--wrapper {
        position: relative;
        top: 0;
      }
    }
    .teaser__contracting {
      padding-top: $site-margins * 6;
    }
    .section__benefits--intro-text {
      padding-top: $site-margins * 4;
    }
    .related-content__list {
      padding-top: $site-margins * 3
    }
  }

  @include media($medium-screen) {
    .align-right {
      position: relative;
      button {
        position: relative;
        bottom: -6rem;
      }
    }
  }
}

@media all and (max-width: $small-screen) {
  .section__recent-posts-careers {
    .section__title--wrapper {
      position: relative;
      top: 0;
      h2 {
        position: absolute;
        top: -4rem;
      }
      .section__subtitle {
        padding-top: $site-margins * 2;
      }
    }
  }
  .section__triple-quotes-careers {
    .blockquotes__list {
      padding-top: $site-margins * 2;
    }
  }
}