.section {
  margin-bottom: $section-margin;

  &__title {
    color: $color-secondary;
    text-transform: capitalize;

    // Red border above section title
    &:before {
      content: "";
      width: 100px;
      height: 10px;
      background-color: $color-secondary;
      display: block;
    }
  }

  //-------------------------------------
  // RECENT POSTS SECTION IN THE HOMEPAGE
  //-------------------------------------

  &__recent-posts {
    @media all and (min-width: $medium-screen) {


      .section__title {
        @include span-columns(4);
      }

      .teaser--wrapper {
        @include span-columns(7);
        @include shift(1 of 12);
      }
    }
  }
}