.section {
  margin-bottom: 100px;

  &__title {
    color: $color-secondary;
    text-transform: capitalize;

    // Red border above section title
    &::before {
      content: '';
      width: 100px;
      height: 10px;
      background-color: $color-secondary;
      display: block;
    }
  }

  &__subtitle {
    font-size: $lead-font-size;
    padding-bottom: $section-margin;
  }

  //-------------------------------------
  // CIVICACTIONS INTRO SECTION IN THE HOMEPAGE
  //-------------------------------------------

  &__home-intro {
    &--quote {
      color: $color-secondary;
    }

    &--text {
      font-size: $lead-font-size;

      p {
        margin-top: 0;
      }
    }

    @media screen and (min-width: $small-screen) {

      &--quote {
        @include span-columns(4);
      }

      &--text {
        @include span-columns(7);
        @include shift(1 of 12);
      }
    }
  }

  //-------------------------------------
  // RECENT POSTS SECTION IN THE HOMEPAGE
  //-------------------------------------

  &__recent-posts {
    @media all and (min-width: $medium-screen) {

      .section__title--wrapper {
        @include span-columns(4);
      }

      .teaser--wrapper {
        @include span-columns(7);
        @include shift(1);
      }
    }

    &.team { background: $neutral; }

    &.right-flipped {
      @include neutral-hex-bg;
      margin-bottom: 0;

      @media all and (min-width: $medium-screen) {
        .section__title--wrapper {
          @include shift(8);
        }

        .teaser--wrapper {
          @include shift(-12);
        }
      }
    }
  }

  //-------------------------------------
  // TECH SPECS SECTION IN CASE STUDIES
  //-------------------------------------

  &__specs {
    background-color: $neutral;
    padding: $section-margin 0;
  }

  //---- CASE STUDY LANDING PAGE
  &__case-studies {
    @include media($small-screen) {
      @include flex-container($flex-wrap: wrap);
      align-items: baseline;
    }
  }

  //-------------------------------------
  // FEATURED CLIENTS SECTION ON CASE STUDIES PAGE
  //-------------------------------------------
  &__featured_clients {
    @media all and (min-width: $medium-screen) {
      &--intro_wrapper {
        @include span-columns(4);
      }
      &--intro-text {
        font-size: $lead-font-size;
      }
      .rollovericon__group {
        @include span-columns(7);
        @include shift(1 of 12);
      }
    }
  }

  //-------------------------------------
  // BENEFITS INTRO SECTION ON THE CAREERS PAGE
  //-------------------------------------------
  &__benefits {

    &--intro-text {
      font-size: $lead-font-size;
      max-width: $text-max-width;
      margin-bottom: $section-margin;

      p {
        margin-top: 0;
      }
    }
  }

  //-------------------------------------
  // FEATURES INTRO SECTION ON THE DKAN OPEN DATA PAGE
  //-------------------------------------------
  &__features {

    &--intro-text {
      font-size: $lead-font-size;
      max-width: $text-max-width;
      margin-bottom: $section-margin;

      p {
        margin-top: 0;
      }
    }
  }

  //------------------------------------------------------------
  // RELATED CASE STUDIES SECTION ON THE CASE STUDY LANDING PAGE
  //------------------------------------------------------------
  &__related-content {
    background-color: $neutral;
    position: relative;
    margin-top: $section-margin;
    margin-bottom: 0;
    padding-bottom: $section-margin;
  }

  //------------------------------------------------------------
  // CONTACT FORM THANK YOU PAGE
  //------------------------------------------------------------
  &__thankyou {
    text-align: center;
  }
}

.neutral {
  background-color: $neutral;
  padding-bottom: $section-margin;
}

//------------------------------------------------------------
// GENERIC TEASER GRID
//------------------------------------------------------------
.section__teaser-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  align-items: baseline;
}
