.team-member {
  &__hero {
    margin-bottom: $section-margin;
    text-align: center;
    .hero {
      &__title {
        @media all and (max-width: $small-screen) {
          margin-bottom: 0;
        }
      }
      &__title.no-space-underneath {
        margin-bottom: 0;
      }
      &__image {
        margin-bottom: -($spacing-medium);
        padding-top: $site-margins;

        @media all and (max-width: $small-screen) {
          transform: scaleY(-1);
          img {
            margin-top: $spacing-medium;
            margin-bottom: -($spacing-medium);
          }
        }

        @media all and (min-width: $medium-screen) {
          @include span-columns(4);

          padding-top: $spacing-medium;
        }
      }

      &__text {
        padding-bottom: $spacing-x-small;

        @media all and (max-width: $small-screen) {
          transform: scaleY(-1);
        }

        @media all and (min-width: $medium-screen) {
          @include span-columns(8);

          text-align: left;
        }
      }

      &__intro-text,
      &__location {
        font-weight: 300;
        line-height: 1.5;
      }

      &__personal_pronouns {
        margin-top: -5px;
        padding-bottom: 11px;
        font-size: 90%;
        font-weight: 300;
        font-style: italic;
        position: relative;

        .text {
          display: inline-block;
          padding-right: 6px;
        }

        .audio-wrapper {
          display: inline-block;
          position: absolute;
          top: 2px;
        }

        .button-wrapper {
          cursor: pointer;
        }
      }

      &__social--link {
        display: inline-block;
        margin-right: $spacing-small;
        color: $white;
        font-weight: $font-bold;

        &:after {
          display: inline-block;
          content: "|";
        }

        &:last-of-type {
          &:after {
            content: "";
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    @media all and (max-width: $small-screen) {
      transform: scaleY(-1);
    }
  }

  &__specs {
    margin-bottom: rem(40px);
    padding: $spacing-medium;
    .study__tech-specs__title {
      font-family: $font-sans;
      font-size: $base-font-size;
      font-weight: $font-bold;
    }
    ul {
      margin: 0.5em 0;
    }

    @include media($medium-screen) {
      padding: $site-margins 0;
      .study__tech-specs {
        @include shift(4);

        padding-left: $spacing-medium;
      }
    }
  }

  &__text {
    .blockquote {
      &__icon {
        border: none;
      }
      &__text {
        font-size: $h3-font-size;
      }
    }
  }

  &__posts {
    @include neutral-hex-bg;

    margin-top: 100px;
    margin-bottom: 0;

    .section__title--wrapper,
    .team__medium-posts {
      margin-top: -($spacing-large);
    }

    @media all and (max-width: $small-screen) {
      .section__title--wrapper {
        margin-top: -4rem;
      }
    }
  }
}

.team_member__specs--wrapper {
  margin-top: -46px;
  background: $neutral;
}
